<%- include('../partials/header') %>

    <div class="account-container">
        <div class="add-half">
            <a href="/users/new" class="add-new-btn">Add New Pet</a>
        </div>
        <div class="view-half">
            <h2>Your Active Posts:</h2>
            <div class="acct-gallery">
  
               <% for (let pet of myPets) { %>
  
                <div class="pet-edit">
  
                    <h4><%= pet.name %></h4>
                    <h4><%= pet.category %></h4>
                    <br />
                    <button class="edit-btn"><a href="/pets/<%= pet.id %>/update" class="edit-btn-a">Edit</a></button>
                    <form action="/pets/<%= pet._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="delete-btn">Delete</button>
                    </form>
  
                </div>
            <% } %>
            </div>
        </div>
    </div>


<%- include('../partials/footer') %>